*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.container {
    width: 80vw;
    margin: 30px auto;
    background-color: blanchedalmond;
}

.header {
    text-align: center;
}

div h2 {
    font-size: 40px;
    padding: 10px;
    background-color: black;
    color: blanchedalmond;
}

div input {
    margin-top: 10px;
    width: 55%;
    padding: 5px 0;
}

div ul {
    padding: 10px 0px;
    margin: 0 20px 0 40px;
}

ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
    cursor: pointer;
}

.addBtn {
    padding: 5px 20px;
    background-color: black;
    color: blanchedalmond;
    cursor: pointer;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: grey;
    color: white;
    text-decoration: line-through;
}
  
 /* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}